body {
    font-family:Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:14px;
    vertical-align:middle;
}
#wrapper{
    margin-left:auto;
    margin-right:auto;
    padding-top: 24px;
    max-width:800px;
    width:100%;
}
header {
    margin:8px 8px 12px 12px;
    border-bottom:3px solid #01a4a4;
    text-transform:uppercase;
}
header>h1{
    color:#000;
    text-decoration:none;
}
.panel{
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 24px;
    color: #878787;
}
.panel a{
    color: #01a4a4;
    text-decoration: none;
}
.panel a:hover{
    text-decoration:underline;
}
.panel h2{
    text-transform:uppercase;
    margin-top: 12px;
}
.panel p{
    margin: 0;
    padding: 0;
}
#projects dt{
    color: #01a4a4;
    font-weight:bold;
    font-style:italic;
    margin-top:12px;
}
#projects dd{
    color:#666;
    margin-left: 16px;
}
#projects dd a{
    color: #878787;
}
#projects dt a{
    color: #01a4a4;
    font-weight:bold;
    font-style:italic;
    text-decoration:none;
}
#projects dt a:hover{
    text-decoration:underline;
}
.menu {
	float: left;
	height: 100%;
	width: 160px;
	font-size: 12px;
    text-align: right;
	padding-top: 0px;
	padding-left: 24px;
	padding-bottom: 28px;
    padding-right: 16px;
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: #01a4a4;
}
.menu a{
    text-decoration: none;
    color:#000
}
.menu a:hover{
    text-decoration: underline;
    color: #000
}
.menu > h1{
    text-transform:uppercase;
    font-size: 22px;
}
.content {
	float: right;
	height: 100%;
	width: 520px;
	font-size: 14px;
	padding-top: 28px;
	padding-right: 38px;
	padding-left: 38px;
	padding-bottom: 16px;
}
.footer {
	float: left;
	height: 25px;
	width: 700px;
	background-color: #01a4a4;
	color: #FFF;
	font-size: 14px;
    padding: 16px 38px 6px 38px;
    margin:8px 12px 0px 12px;
}
